<div class="container">
    <h1>About Page</h1>
    <p>We are here to make the travel journey for family and friends fun!</p>
    <p>We help people make car rental reservations for themselves and for people to make their cars available to rent!</p>
    <p>Feel free to contact us at: carRentalz@gmail.com</p>
    <p>Connect with us: </p>
    <a href="/contact">Contact Us</a>
    <small>All rights reserved. Copyright &copy 2020</small>
</div>

<style>
   body{

       background-image: url('/image/trip.jpg');
       background-repeat: no-repeat;
       background-size:100%;
      
       
   }
   h1{
       font-size: 250%
   }
   h2{
       color: black
   }

   .inner-footer{
       margin: 0;
       padding: 0;
       background-color: #272727;
       width: 100%;

   }
   .quick-links{
       display: flex;
       width: 560px;
       height: 50px;
       font-size: 20px;
       margin: auto;
   }

   .quick-links ul{
       display: flex;
   }
   .quick-items{
       list-style: none;
   }

   .quick-items a{
       text-decoration: none;
       padding: 0px 15px;
       font-size: 25px;
       color: white;
   }

   .outer-footer{
       padding: none;
       text-align: center;
       color: white;
       font-size: 15px;
       height: 29px;
        background-color: #272727;

   }



   
</style>