<div class="container">
    <h1 class="center">Welcome to CarRentalz</h1>
    <h1>
        </br>
    </h1>
    <h2 class="center">
        <a href="/aut/facebook" class="btn btn-primary">Login With Facebook</a>
       
        
    </h2>
    <h2 class="center">
        <a href="/aut/google" class="btn btn-danger">Login With Google</a>
    </h2>

    <h2 class="center">
        <a href="/email" class="btn btn-info">Login With Email</a>
    </h2>

    <h2 class="center">
        <small class="center">
        <a href="/signup" style="color: white">First time user?</a>
    </small>
    </h2> 
     <br><br><br><br><br> 
     <br><br><br><br><br>
     <br>

</div>

<div>
        <body>
            <footer class="footer"> 
                <div class="inner-footer">
                    <div class="quick-links">
                        <ul>
                            <li class="quick-items"><a href="">     Home        </a></li>
                            <li class="quick-items"><a href="/cars">        Cars         </a></li>
                            <li class="quick-items"><a href="/about">       About Page       </a></li>
                            <li class="quick-items"><a href="/contact">     Contact Us       </a></li>
                        </ul>
                    </div>
                </div>

                <div class="outer-footer">
                    Copyright &copy; CarRentalz Co.       All Rights Reserved
                </div>
            </footer>
        </body>
</div>    

<style>
   body{

       background-image: url('/image/trip.jpg');
       background-repeat: no-repeat;
       background-size:100%;
      
       
   }
   h1{
       font-size: 250%
   }
   h2{
       color: black
   }

   .inner-footer{
       margin: 0;
       padding: 0;
       background-color: #272727;
       width: 100%;

   }
   .quick-links{
       display: flex;
       width: 560px;
       height: 50px;
       font-size: 20px;
       margin: auto;
   }

   .quick-links ul{
       display: flex;
   }
   .quick-items{
       list-style: none;
   }

   .quick-items a{
       text-decoration: none;
       padding: 0px 15px;
       font-size: 25px;
       color: white;
   }

   .outer-footer{
       padding: none;
       text-align: center;
       color: white;
       font-size: 15px;
       height: 29px;
        background-color: #272727;

   }



   
</style>